@font-face {
  font-family: "pix";
  src: url("assets/fonts/PIXroma_8.ttf") format("truetype");
}
:root {
  --bg: rgb(247, 247, 247);
  --bg: rgb(246, 243, 243);

  --text: rgb(233, 228, 228);
  --text-hover: rgb(222, 213, 213);
  --filter: invert(85%) sepia(88%) saturate(67%) hue-rotate(292deg)
    brightness(96%) contrast(81%);
  --filter-hover: invert(50%) sepia(88%) saturate(67%) hue-rotate(292deg)
    brightness(96%) contrast(91%);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
html {
  scroll-behavior: smooth !important;
}
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
}
main {
  font-family: "pix";
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100vw;
  flex: 1;
  padding: 0 3.6em;
}
footer {
  height: fit-content;
  padding: 0.4em 0.6em;
}
h1 {
  font-size: 4em;
  width: 80vw;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

footer a img {
  filter: var(--filter);
  width: 38px;
}
footer a img:hover {
  filter: var(--filter-hover);
}

@media (hover: hover) and (pointer: fine) {
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(11, 11, 11);
    --text: rgb(41, 41, 41);
    --text-hover: rgb(63, 63, 63);
    --filter: invert(20%) sepia(9%) saturate(14%) hue-rotate(318deg)
      brightness(93%) contrast(87%);
    --filter-hover: invert(40%) sepia(9%) saturate(14%) hue-rotate(318deg)
      brightness(93%) contrast(87%);
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 2.4em;
  }
}

@media (prefers-reduced-motion) {
  h1 {
    opacity: 100%;
    animation: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
